.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card {
  width: 250px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.card.dark {
  background-color: #434343;
}
.title {
  font-size: 18px;
}
.checkbox input {
  cursor: pointer;
}
.checkbox label {
  cursor: pointer;
}
