:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  background-color: rgba(248, 243, 243, 0.87);
  color: #242424;
}
body,
h3,
p {
  margin: 0;
  padding: 0;
}
