:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  background-color: #f8f3f3de;
  color: #242424;
  box-sizing: border-box;
}
body,
h3,
p {
  margin: 0;
  padding: 0;
}
